body {
  background-color: #c3f53b;
  min-height: 750px;
  border-bottom: solid black 1px;
  margin-top: 65px;

  display: grid;
  grid-auto-rows: 50% 50%;
  align-items: center;
}

.topHalf {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.etfIndexWrapper {
  width: 50%;
}

.welcomeText {
  width: 795px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
