<body>
  <div class="topHalf">
    <div class="welcomeText">
      <h1>Investing for Everyone</h1>
      <h5>
        WJJD welcomes you to get up to date market news and simulate trading.
      </h5>
    </div>
    <div class="etfIndexWrapper">
      <app-etf-index></app-etf-index>
    </div>
  </div>
  <app-market-news></app-market-news>
</body>
