<div class="etfWrapper">
  <div class="etfContainer">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">SPY (S&P 500)</th>
          <th scope="col">DIA (Dow Jones)</th>
          <th scope="col">QQQ (Nasdaq)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-active">
            {{ apiETFQuote[0] && apiETFQuote[0].c ? apiETFQuote[0].c : "" }}
          </th>
          <td class="table-active">
            {{ apiETFQuote[1] && apiETFQuote[1].c ? apiETFQuote[1].c : "" }}
          </td>

          <td class="table-active">
            {{ apiETFQuote[2] && apiETFQuote[2].c ? apiETFQuote[2].c : "" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
