<div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table hover table-striped table-bordered" >
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Type</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let trade of trades">
                <td> {{ trade.ticker }} </td>
                <td> {{ trade.date | date: 'MM/dd/yyyy'}}</td>
                <td> {{ trade.reqPrice | currency }}</td>
                <td> {{ trade.quantity }}</td>
                <td> {{ trade.tradeStatus }}</td>
                 <td> {{ trade.type }}</td>
            </tr>
        </tbody>
    </table>
</div>
