body {
  background-color: #c3f53b;
}

img {
  object-fit: cover;
  width: 200px;
  height: 200px;

  margin-right: 10px;
}

ul {
  list-style: none;
  width: 80%;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.newsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.newsImage {
  display: flex;
  justify-content: center;
}

.newsText {
  padding: 5px;
  background-color: #ffffff5e;
  height: 200px;
  overflow: auto;
}

li {
  width: auto;
  height: 200px;

  display: flex;
  align-items: center;
}

.marketNewsWrapper {
  width: 100%;

  display: flex;
  justify-content: center;
}
