<body class="marketNewsBody">
  <div class="marketNewsWrapper">
    <ul class="marketNewsContainer">
      <div class="newsContainer">
        <li *ngFor="let news of marketNews">
          <div class="newsImage">
            <img src="{{ news.image }}" alt="" />
          </div>
          <div class="newsText">
            <h5>{{ news.source }} | {{ news.category }}</h5>
            <h3>{{ news.headline }}</h3>
            <p>{{ news.summary }}</p>
          </div>
        </li>
      </div>
    </ul>
  </div>
</body>
