<div class="container">
    <form
      [formGroup]="frmRegister"
      (ngSubmit)="postTransaction(frmRegister.value)"
    >
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Stock Transaction</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="ticker">Ticker</label>
  
            <input
              id="ticker"
              formControlName="regTicker"
              type="text"
              class="form-control"
              (ngModelChange)="onTickerChange($event)"
              required
              onkeyup="this.value = this.value.toUpperCase();"
            />
          </div>
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              id="quantity"
              formControlName="regQuantity"
              type="text"
              class="form-control"
              (ngModelChange)="onQtyChange($event)"
              required
            />
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input
              id="price"
              formControlName="regPrice"
              type="text"
              class="form-control"
              value="{{ apiQuote ? apiQuote.c : '' | currency}}"
            />
          </div>
          <div>
            <h5>Your Total Price Is: {{ price * quantity | currency }}</h5>
          </div>
        </div>
  
        <div class="panel-footer">
          <div class="btn-group">
            <button name="BUY" type="Submit" class="btn btn-success">Buy</button>
            <button name="SELL" type="Submit" class="btn btn btn-danger">
              Sell
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>