<div>
  <h3>Portfolio</h3>
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table hover table-striped table-bordered"
  >
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Quantity</th>
        <th>Market Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trade of trades">
        <td>{{ trade.ticker }}</td>
        <td>{{ trade.quantity }}</td>
        <td>{{ trade.marketValue | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <app-pie-chart [trades]="trades"></app-pie-chart>
</div>
