header {
  background-color: white;
  padding: 0 15px;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 5;
  box-shadow: 0px 4px 10px grey;
}

a {
  font-family: "Capsule Sans Text", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 15px;
}

a:hover {
  color: #8bc34a;
}

.titleLink {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  padding-right: 2px;
}

.titleLink:hover {
  color: inherit;
}

.material-icons.md-36 {
  font-size: 36px;
}

.container {
  align-items: center;
  display: grid;
  grid-template-columns: 10% 90%;
}
