<header>
  <nav class="container">
    <div class="title">
      <a class="titleLink" routerLink="/"
        >WJJD <i class="material-icons md-36">trending_up</i>
      </a>
    </div>
    <div class="navPages">
      <a routerLink="/">Home</a>
      <a routerLink="/dashboard">Dashboard</a>
    </div>
  </nav>
</header>
