<body class="stockRecommendationBody">
  <!-- <ul>
    <div>
      <li *ngFor="let rec of stockRecommendation">
        <h5>{{ rec.buy }}</h5>
        <h5>{{ rec.hold }}</h5>
        <h3>{{ rec.period }}</h3>
        <h3>{{ rec.sell }}</h3>
        <h3>{{ rec.strongBuy }}</h3>
        <h3>{{ rec.strongSell }}</h3>
        <h3>{{ rec.symbol }}</h3>
      </li>
    </div>
  </ul> -->
  <div class="fixedHeight">
    <div class="stockRecommendationContainer">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Stock</th>
            <th scope="col">Strong Buy</th>
            <th scope="col">Buy</th>
            <th scope="col">Hold</th>
            <th scope="col">Sell</th>
            <th scope="col">Strong Sell</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="table-active">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].symbol
                  : ""
              }}
            </th>
            <td class="table-success">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].strongBuy
                  : ""
              }}
            </td>
            <td class="table-success">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].buy
                  : ""
              }}
            </td>
            <td class="table-primary">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].hold
                  : ""
              }}
            </td>
            <td class="table-warning">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].sell
                  : ""
              }}
            </td>
            <td class="table-danger">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].strongSell
                  : ""
              }}
            </td>
            <td class="table-active">
              {{
                stockRecommendation && stockRecommendation.length
                  ? stockRecommendation[0].period
                  : ""
              }}
            </td>
            <!-- <td class="table-success">{{ stockRecommendation[0].strongBuy }}</td>
          <td class="table-success">{{ stockRecommendation[0].buy }}</td>
          <td class="table-primary">{{ stockRecommendation[0].hold }}</td>
          <td class="table-warning">{{ stockRecommendation[0].sell }}</td>
          <td class="table-danger">{{ stockRecommendation[0].strongSell }}</td>
          <td class="table-active">{{ stockRecommendation[0].period }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
