.stockRecommendationContainer {
  display: flex;
  justify-content: center;
}

body {
  background-color: #f0ebe6;
}

.fixedHeight {
  height: 88px;
}

.stockRecommendationBody {
  margin-bottom: 2em;
}
