body {
  min-height: 750px;
  background-color: #f0ebe6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tradingview-widget-container{
  width: 400px; 
}

.container {
  padding-top: 100px;
}

.first {
  padding-bottom: 40px;
}


