<body>
  <div class="container">
    <div class="row first">
      <div class="col">
        <div id="tradingview-widget-container" #containerDiv>
          <div id="tradingview-widget-container__widget"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-stock-recommendation></app-stock-recommendation>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-transaction></app-transaction>
      </div>
      <div class="col">
        <app-portfolio></app-portfolio>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-history></app-history>
      </div>
    </div>
  </div>
</body>
